<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorothy</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://dorothy-mirim.herokuapp.com/css/styles.css" />
    <link rel="stylesheet" href="https://dorothy-mirim.herokuapp.com/css/login.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="icon" href="https://dorothy-mirim.herokuapp.com/assets/favicon_32.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://dorothy-mirim.herokuapp.com/assets/favicon_32.png" type="image/x-icon">
</head>
<body id="page-top" style="max-height: 1920px;">
    <div class="header">
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="https://dorothy-mirim.herokuapp.com/index"><img src="https://dorothy-mirim.herokuapp.com/assets/Dorothy_logo.png"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="https://dorothy-mirim.herokuapp.com/index.ejs#introduction">동아리 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="https://dorothy-mirim.herokuapp.com/index.ejs#calendar">캘린더</a>
                    </li>
                    <%if(!id){%>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="https://dorothy-mirim.herokuapp.com/login">로그인</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="https://dorothy-mirim.herokuapp.com/join">회원가입</a>
                      </li>
                    <% } else { %>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="https://dorothy-mirim.herokuapp.com/leader_view">동아리 관리</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" href="https://dorothy-mirim.herokuapp.com/logout">로그아웃</a>
                      </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <div class="login-img"><div class="login-name">동아리 계정 생성</div></div>
    <div class="" style="max-width: 100%; padding: 0;">
        <div class="login">
            <hr width="70px">
            <div class="login-title">Generate</div>
            <div class="login-inst">새로운 동아리 계정을 생성합니다.</div>
            <div class="login-form">
                <form action="signup" method="post">
                    <div class="login-id"><label for="id">id</label><input type="text" name="id" required></div>
                    <div class="login-pw"><label for="pw">pw</label><input type="password" name="passwd" required></div>
                    <input type="submit" value="생성"class="login-btn">
                </form>
            </div>
        </div>
    </div>

    <input type="password">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://dorothy-mirim.herokuapp.com/js/grayscale.min.js"></script>
    <script src="https://dorothy-mirim.herokuapp.com/js/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
