.view-img {
    max-height: 1010px;
    overflow: hidden;
    width: 100%;
    position: relative;
    align-items: center;
}

.title {
    margin:0 auto;
    position: relative;
    margin-top: 288px;
    text-align: center;
    color: white;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 10%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 60px;
    height: 300px;
}

.content {
    display: flex;
    margin: 120px auto 0px auto;
}

.content label {
    font-size: 25px;
    margin-top: 27px;
    width: 140px;
}

.contents {
    width: 878px;
    height: 308px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.55;
    overflow: hidden;
    margin-left: 182px;
    text-align: left;
}

.join-btn {
    width: 381px;
    height: 64px;
    border: none;
    border-radius: 10px;
    background-color: #424242;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    margin-top: 47px;
    outline: none;
    -webkit-appearance: none;
    padding: 0;
    margin: 172px 0px 113px 0px;
}

#carouselExampleIndicators {
    z-index: 5;
    position: relative;
}

@media all and (max-width: 770px) {
    .view-img {
        margin-top: 70px !important;
        margin-bottom: 30px !important;
    }
    hr {
        margin: 0 auto !important;
    }
    .content {
        display: block;
        text-align: center;
        margin-top: 0px !important;
        margin-bottom: 78px !important;
    }
    .contents {
        width: 90%;
        height: auto;
        margin: 0 auto!important;
        font-size: 18px !important;
    }
    .content label {
        margin-bottom: 48px;
        font-size: 23px !important;
    }
    .join-btn {
        width: 80%;
        margin-top: 0 !important;
    }
}

@media all and (max-width: 500px) {
    .carousel-caption {
        font-size: 40px !important;
    }
    .contents {
        font-size: 15px !important;
    }
    .content label {
        font-size: 20px !important;
    }
}